<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lesson 3</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="root"></div>
</body>
<script lang="js">
    Vue.createApp({
        data() {
            return {
                inputValue: '',
                list: []
            }
        },
        methods: {
            handleAddItem() {
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        },
        template: `
          <div>
          <input type="text" v-model="inputValue">
          <button v-on:click="handleAddItem">增加</button>
          <ul>
            <li v-for="(item, index) of list">{{ index }} - {{ item }}</li>
          </ul>
          </div>
        `
    }).mount('#root')
</script>
</html>
