@font-face {
    font-family: 'iconfont';  /* Project id 2648773 */
    src: url('//at.alicdn.com/t/font_2648773_u7ip93jed.woff2?t=1626592878297') format('woff2'),
    url('//at.alicdn.com/t/font_2648773_u7ip93jed.woff?t=1626592878297') format('woff'),
    url('//at.alicdn.com/t/font_2648773_u7ip93jed.ttf?t=1626592878297') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
