@font-face {
    font-family: 'iconfont';  /* Project id 2648773 */
    src: url('//at.alicdn.com/t/font_2648773_uxkaa1ibmu.woff2?t=1625373131546') format('woff2'),
    url('//at.alicdn.com/t/font_2648773_uxkaa1ibmu.woff?t=1625373131546') format('woff'),
    url('//at.alicdn.com/t/font_2648773_uxkaa1ibmu.ttf?t=1625373131546') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
